<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Template • TodoMVC</title>
</head>
<body>
<section class="todoapp">
  <header class="header">
    <h1>{{title}}</h1>
    <!-- 在data里面绑定初始数据 keyup键盘事件   v-model.trim='newTodo' 去掉前后空格-->
    <input class="new-todo" placeholder="What needs to be done?" autofocus
           v-model.trim='newTodo'
           @keyup.enter='addTodo'
    >
  </header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox" v-model="isAll">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <!-- 渲染数据 用 for-in循环   再动态的绑定选中状态的类 中间 划线  -->
      <li v-for='(todo,index) in filteredTOdos' :class='{completed:todo.completed,editing:todo == editedTodo}'>
        <div class="view">
          <!-- 选中状态进行实时渲染 checkbox 翻译为复选框 选中的时候 状态为completed:true  -->
          <input class="toggle" type="checkbox" v-model='todo.completed'>
          <!-- 双击事件编辑 -->
          <label @dblclick='editTodo(todo)'>{{todo.content}}</label>
          <!-- 删除按钮事件 删除的是当下的东西index-->
          <button class="destroy" @click='removeTodo(index)'></button>
        </div>
        <!-- 获取焦点进行编辑  使用自定义指令  v-focus获取焦点 下面的是 几种状态 esc 返回 以及保存设定 -->
        <input class="edit" v-model.trim='todo.content'
               v-focus='todo == editedTodo'
               @blur="doneEdit(todo,index)"
               @keyup.esc="cancleEdit(todo)"
               @keyup.enter="doneEdit(todo)"
        >
      </li>
    </ul>
  </section>
  <!--进行条件渲染指令 v-if 或者v-show 区别在于v-show 是隐藏  -->
  <footer class="footer" v-show='this.todos.length>0'>
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{remain}}</strong> item left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li>
        <!-- 类的绑定通过 hashName绑定 进行跳转  -->
        <a :class="{selected:hashName=='all'}" href="#/">all</a>
      </li>
      <li>
        <a :class="{selected:hashName=='active'}" href="#/active">active</a>
      </li>
      <li>
        <a :class="{selected:hashName=='completed'}" href="#/completed">completed</a>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" @click="Clear">Clear completed</button>
  </footer>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <!-- Remove the below line ↓ -->
  <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
  <!-- Change this out with your name and url ↓ -->
  <p>Created by <a href="http://todomvc.com">you</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<!-- Scripts here. Don't remove ↓ -->
<!-- <script src="node_modules/todomvc-common/base.js"></script>
<script src="js/app.js"></script> -->
</body>
</html>
